.banking-mobile-section {
    width: 100% ;
   height: 1460px;
   background: #3C3C3C;

   @media (min-width: 768px) and (max-width: 1200px) {
    height: 1590px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    height: 1206px;
  }

  @media (max-width: 320px) {
    height: 1206px;
  }

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 680px 545px;
    gap: 63px 40px;
    grid-auto-flow: row;
    padding-top: 86px;
    padding-bottom: 86px;

    

   

    @media (min-width: 768px) and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        gap: 102px 40px;
        padding-top: 52px;
        padding-bottom: 122px;
        grid-template-rows: 629px 634px;
      }

    @media (min-width: 320px) and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 63px;
        padding-top: 52px;
        padding-bottom: 122px;
        grid-template-rows: 488px 518px;
    }

    @media (max-width: 320px) {
        grid-template-columns: 1fr;
        gap: 63px;
        padding-top: 52px;
        padding-bottom: 122px;
        grid-template-rows: 488px 518px;
      }
   
}

.card {
    width: 100%;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 24px;
    background: #FFFEF2;
    position: relative;

    @media (min-width: 320px) and (max-width: 768px) {
       padding: 16px;
    }

    @media (max-width: 320px) {
        padding: 16px;
      }

    &:nth-of-type(2) {

        @media (min-width: 320px) and (max-width: 768px) {
            display: none;
        }

        @media (max-width: 320px) {
            display: none;
          }
    }

    &:last-of-type{
        @media (min-width: 768px) and (max-width: 1200px) {
            display: none;
          }

        @media (min-width: 320px) and (max-width: 768px) {
            display: none;
        }

        @media (max-width: 320px) {
            display: none;
          }
          
    }

    


    &:first-of-type {
        grid-area: 1 / 1 / 1 / 4; 

        @media (min-width: 768px) and (max-width: 1200px) {
            grid-area: 1 / 1 / 1 / 3; 
          }

        @media (min-width: 320px) and (max-width: 768px) {
            grid-area: 1 / 1 / 1 / 2; 
         }

        @media (max-width: 320px) {
            grid-area: 1 / 1 / 1 / 2;
          }
    }

    &__arrow {
        position: absolute;
        top: 56px;
        right: 51px;
    }

    &__arrow-2 {
        position: absolute;
        top: 40px;
        right: 36px;
    }

    &__img {
        border-radius: 13px;
        max-width: 100%;
        min-height: 338px;
        min-width: 285px;
        object-fit: cover;

        @media (min-width: 768px) and (max-width: 1200px) {
            min-height: 448px;
            min-width: 293px;
        }

        @media (min-width: 320px) and (max-width: 768px) {
            min-height: 278px;
        }

        @media (max-width: 320px) {
            min-height: 278px; 
            min-width: 238px;     
        }
       
    }

    &__texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
        max-width: 100%;
        

        @media (min-width: 768px) and (max-width: 1200px) {
            max-height: 126px;

        }

        @media (min-width: 320px) and (max-width: 768px) {
            max-height: 158px;
         }

        @media (max-width: 320px) {
            max-height: 158px;
        }
    }

    &__title {
        max-width: 100%;
        color: #565656;
        font-family: $ui-font-dynapuff;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: block;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 29px;
        }

       
        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    &__title_little {
        max-width: 100%;
        color: #565656;
        font-family: $ui-font-dynapuff;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__info {
        color: #000;
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: block;
        max-width: 580px;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 15px;
        }

        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    &__info_waight {
        color: #000;
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: block;
        max-height: 148px;

        @media (min-width: 768px) and (max-width: 1200px) {
            max-height: 293px;
            font-size: 15px;
        }

        @media (max-width: 320px) {
            max-height: 293px;
            font-size: 15px;        
        }
    }

   
}