.footer {
    width: 100%;
    background: #202020;
    height: 127px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: 768px) and (max-width: 1200px) {
        height: 132px;
        padding-top: 30px;
        padding-bottom: 35px;
      }
    
      @media (min-width: 320px) and (max-width: 768px) {
        height: 144px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    
      @media (max-width: 320px) {
        height: 144px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 21px;
}

.social-menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 34px;
}

.social-text {
    color: #FFF;
    text-align: center;
    font-family: $ui-font-manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 320px) {
      font-size: 12px;
      }
}