.good-section{
    width: 100%;
    height: 800px;
    background-image: url('../images/photos/Rectangle8.png');

    @media (min-width: 768px) and (max-width: 1200px) {
       
      }
    
      @media (min-width: 320px) and (max-width: 768px) {
        height: 498px;
      }
    
      @media (max-width: 320px) {
        height: 498px;

      }

}

.good_title {
    color: #FFF;
    text-align: center;
    font-family: $ui-font-dynapuff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 303px;
    display: block;

    @media (min-width: 768px) and (max-width: 1200px) {
        font-size: 44px;
    }
  
    @media (min-width: 320px) and (max-width: 768px) {
        font-size: 24px;
        padding-top: 180px;
    }
  
    @media (max-width: 320px) {
        font-size: 18px;
        padding-top: 176px;

    }
}

