.graphic-section {
    width: 100%;
   height: 1220px;
   background-color: #202020;

   @media (min-width: 768px) and (max-width: 1200px) {
    height: 1122px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    height: 1260px;
  }

  @media (max-width: 320px) {
    height: 1260px;
  }

}

.graphic-title {
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 82px;
    padding-bottom: 38px;
    display: block;

    @media (min-width: 768px) and (max-width: 1200px) {
      }
    
      @media (min-width: 320px) and (max-width: 768px) {
        font-size: 36px;
      }
    
      @media (max-width: 320px) {
        font-size: 28px;

      }
}


.graphic-section__figures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 26px;
    padding-bottom: 138px;

    @media (min-width: 768px) and (max-width: 1200px) {
        gap: 26px 34px;
        grid-template-rows: 414px 325px ;
    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 325px);
        gap: 20px;

    }
    
    @media (max-width: 320px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 325px);
        gap: 20px;
        
    }
}

.card-figure {

    width: 100%;
    position: relative;


    &:first-of-type {
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
        

        @media (min-width: 768px) and (max-width: 1200px) {
            grid-area: 1 / 1 / 2 / 3;

        }
        

        @media (min-width: 320px) and (max-width: 768px) {
            grid-area: 1;

        }

        @media (max-width: 320px) {
            grid-area: 1;

        }

    }

    &__element {
        position: absolute;
    }

    &__element_star {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        

        img {

            @media (min-width: 768px) and (max-width: 1200px) {
                width: 227px;
                height: 227px;
               
            }
            
    
            @media (min-width: 320px) and (max-width: 768px) {
                width: 172px;
                height: 172px;
                
    
            }
    
            @media (max-width: 320px) {
                width: 172px;
                height: 172px;
              
    
            }
        }

    }

    &__element_butterfly {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            @media (min-width: 768px) and (max-width: 1200px) {
                width: 227px;
                height: 227px;
               
            }
            
    
            @media (min-width: 320px) and (max-width: 768px) {
                width: 172px;
                height: 172px;
                
    
            }
    
            @media (max-width: 320px) {
                width: 172px;
                height: 172px;
              
    
            }
        }
    }

    &__element_flower {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {

            @media (min-width: 768px) and (max-width: 1200px) {
                width: 227px;
                height: 227px;
               
            }
            
    
            @media (min-width: 320px) and (max-width: 768px) {
                width: 172px;
                height: 172px;
            }
    
          @media (max-width: 320px) {
                width: 172px;
                height: 172px;
            }
        }
    }

    &__img {
        display: block;
        max-width: 100%;
        height: 100%;
        border-radius: 40px;
        object-fit: cover;
      }
}
       

            
    

    



