.have-project-section {
    width: 100%;
    height: 403px;
    background: #202020;
    padding-top: 78px;

    @media (min-width: 768px) and (max-width: 1200px) {
        height: 276px;
        padding-top: 96px;

    }
    
    @media (min-width: 320px) and (max-width: 768px) {
        height: 244px;
        padding-top: 53px;
    }
    
    @media (max-width: 320px) {
        height: 244px;

        padding-top: 80px;
    }
}

.link-element {
    display: flex;
    padding: 42px 137px;
    flex-direction: column;
    gap: 10px;
    border-radius: 139px;
    border: 1px solid  #F2F2F2;

    @media (min-width: 768px) and (max-width: 1200px) {
       padding: 21px 45px;


    }
    
    @media (min-width: 320px) and (max-width: 768px) {
     padding: 10px;
    }
    
    @media (max-width: 320px) {
        padding: 10px;

    }
    

    &__logo {
        max-width: 108px;
        max-height: 108px;

        @media (min-width: 320px) and (max-width: 768px) {
        max-width: 52px;
        max-height: 52px;
        }
        
        @media (max-width: 320px) {
            max-width: 52px;
            max-height: 52px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        
        
    @media (min-width: 320px) and (max-width: 768px) {
        gap:20px;
    }
    
    @media (max-width: 320px) {
        gap:20px;

    }
    }

    &__right-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 17px;

        @media (min-width: 320px) and (max-width: 768px) {
            gap: 4px;
        }
        
        @media (max-width: 320px) {
            gap: 4px;
    
        }
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-family: $ui-font-dynapuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: block;

        @media (min-width: 768px) and (max-width: 1200px) {
            font-size: 44px;
        }
        
        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 20px;
        }
        
        @media (max-width: 320px) {
            font-size: 17px;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

      
    }

    &__text {
        color: #FFF;
        text-align: center;
        font-family: $ui-font-manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media (min-width: 320px) and (max-width: 768px) {
          font-size: 15px;          
        }

        @media (max-width: 320px) {
            font-size: 15px;          

        }
    }

    &__logo-arrow {
        width: 55px;

        @media (min-width: 320px) and (max-width: 768px) {
            width: 32px;
          }

        @media (max-width: 320px) {
         width: 32px;        
        }
          
    }
   
    
}