.header {
    width: 100%;
    height: 92px;
    padding-top: 18px;
    padding-bottom: 18px;;
    background-color: #20202000;

    @media (min-width: 768px) and (max-width: 1200px) {
        width: 100%;
        height: 132px;
        padding-top: 38px;
        padding-bottom: 38px;;
        background-color: #20202000;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
        height: 110px;
        padding-top: 27px;
        padding-bottom: 27px;;
        background-color: #20202000;
    }
   
    &__menu-btn {
        background-color: #ffffff00;
        max-width: 56px;
        max-height: 56px;
        border-radius: 20px;
        border: 2px solid #FFF;
        padding: 20px;

        @media (min-width: 1200px) {
            display: none;
        }

        @media (min-width: 768px) and (max-width: 1200px) {
            display: block;
        }

        @media (min-width: 320px) and (max-width: 768px) {
            display: block;
        }
    }

    &__menu-img {
        width: 16px;
        height: 16px;
    }

    path {
        fill: #FFFFFF;
    }
    }
    
.contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px
}

.logo {
    min-width: 56px;
    min-height: 56px;
}

.header-menu-wrapper {
    @media (min-width: 768px) and (max-width: 1200px) {
        display: none;
       
     }
 
     @media (min-width: 320px) and (max-width: 768px) {
         display: none;
       
 
     }
 
     @media (max-width: 320px) {
         display: none;
       
 
     }
 
}
.header-menu {
    display: flex;
    align-items:center;
    align-content: center;
    gap: 20px;

    

    svg{
        width: 16px;
        height: 16px;
    }

    &__link{
        display: flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: 1px solid #FFF;
        
    }

    &__path {
        fill: #FFFFFF;
    }

    &__name{
        color: #FFF;
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}


