.meet-section {
    width: 100%;
    height: 470px;
    background: #202020;
}
.content {
    position: relative;
}

.meet-section__ellipse2 {
    position: absolute;
    top: 42.5px;
    left: 876px;

    @media (min-width: 768px) and (max-width: 1200px) {
        left: 695px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        top: 69px;
        left: 430px;
        width: 85%;
      }
}

.meet-section__ellipse3 {
    position: absolute;
    top: 42.5px;
    left: 876px;

    @media (min-width: 768px) and (max-width: 1200px) {
        left: 695px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        top: 69px;
        left: 430px;
        width: 85%;

      }
    
}
.meet {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 101px;
    padding-bottom: 101px;

    @media (min-width: 320px) and (max-width: 768px) {
        padding-top: 74px;
        padding-bottom: 74px;
        max-width: 342px;
        max-height: 318px;
      }

      @media (max-width: 320px){
        padding-top: 54px;
        padding-bottom: 54px;
        max-width: 342px;
        max-height: 318px;
      }

   &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (min-width: 320px) and (max-width: 768px) {
        font-size: 36px;
      }

      @media (max-width: 320px) {
        font-size: 37px;
      }
    }

    &__info {
        color: #FFF;
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: block;
        max-width: 524px;

        @media (min-width: 320px) and (max-width: 768px) {
          }

          @media (max-width: 320px) {
            font-size: 13px;

          }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        gap: 96px;

        @media (max-width: 320px) {
            gap: 30px;

          }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    &__title-white{
        color: #FFF;
        font-family: $ui-font-dynapuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 36px;
          }
    }

    &__info-weight{
        color: #FFF;
        font-family: $ui-font-manrope;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        font-weight: 700;
    }
}