.unleash-section {
    width: 100%;
    height: 800px;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    padding-top: 491px;
    padding-bottom: 119px;


    @media (min-width: 768px) and (max-width: 1200px) {
        padding-top: 273px;
        padding-bottom: 130px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        padding-top: 412px;
        padding-bottom: 149px;
    }

    @media (max-width: 320px) {
        padding-top: 412px;
        padding-bottom: 149px;
    }

    

    &__title {
        color: #FFF;
        font-size: 80px;
        font-weight: 700;
        font-family: $ui-font-dynapuff;
        font-style: normal;
        line-height: normal;
        // min-width: 846px;
    
     
        @media (min-width: 768px) and (max-width: 1200px) {
            display: block;
            max-width: 521px;
            max-height: 393px;
            font-size: 89px;
    
        }
    
        @media (min-width: 320px) and (max-width: 768px) {
            display: block;
            max-width: 326px;
            max-height: 239px;
            font-size: 49px;
        }

        @media (max-width: 320px) {
            display: block;
            max-width: 326px;
            max-height: 239px;
            font-size: 29px;
        }
    }
}

