// тут записуються загальні стилі для тегів та класів

*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1112px;
    width: 100%;
    margin: 0 auto;
   padding: 0 32px;

   @media (min-width: 768px) and (max-width: 1200px) {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
   padding: 0 32px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    max-width: 358px;
    width: 100%;
    margin: 0 auto;
   padding: 0 16px;
  }

//   @media (max-width: 320px) {
//     max-width: 358px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 16px;
//   }
  
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4; 
}

button {
    cursor: pointer;
    border: none;
}

.title {
    font-family:$ui-font-dynapuff;
    font-style: normal;
    line-height: normal;
    color: #FAEB49;
}